---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?destinations=New%20York,%20NY,%20USA&key=<GOOGLE_API_KEY>&origins=Washington,%20DC,%20USA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "New York, NY, USA" ],
           "origin_addresses" : [ "Washington, DC, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "362 km",
                          "value" : 361957
                       },
                       "duration" : {
                          "text" : "3 hours 51 mins",
                          "value" : 13840
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 20 Feb 2019 23:29:04 GMT
recorded_with: VCR 4.0.0
