---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?key=<GOOGLE_API_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [],
           "origin_addresses" : [],
           "rows" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Thu, 21 Feb 2019 23:57:48 GMT
recorded_with: VCR 4.0.0
