---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?avoid=tolls&departure_time=now&destinations=New%20York,%20NY,%20USA&key=<GOOGLE_API_KEY>&language=en&mode=driving&origins=Washington,%20DC,%20USA&region=us&units=metric
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "New York, NY, USA" ],
           "origin_addresses" : [ "Washington, DC, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "428 km",
                          "value" : 428194
                       },
                       "duration" : {
                          "text" : "5 hours 6 mins",
                          "value" : 18382
                       },
                       "duration_in_traffic" : {
                          "text" : "5 hours 19 mins",
                          "value" : 19126
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 21 Feb 2019 23:57:49 GMT
recorded_with: VCR 4.0.0
